<!DOCTYPE html>
<html>
<head>
    <title>Ajax State List</title>
</head>
<body>

<ul id="state-list">
    <li>test element</li>
</ul>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

{% verbatim %}
<script id="simple-template" type="text/x-handlebars-template">
    {{#each states}}
        <li> {{ name }} - {{abbrev}} <img src="{{ map }}" height="100" width="100" /></li>
    {{/each}}
</script>
{% endverbatim %}

<script>

    $(function() {
        console.log('something');

        // insertion point
        var stateList = $('#state-list');

        // the template
        var rawTemplate = $('#simple-template').html();

        // compiled template
        var template = Handlebars.compile(rawTemplate);



        $.ajax({
            type:'GET',
            url:'/api_state_list/',
            data: {},
            success: function(data) {
                
                html_template = template(data)

                stateList.html(html_template)

            }
        })
    });


    // $(document).ready(function() {
    //     $('#state-list').append('<li>extra element</li>');
    // });
</script>



</body>
</html>